.container{
    height:100vh;
    width: 100vw;
    flex-direction: column;
    background-image: url('../../Images/soon.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



