

.container{
    height:100vh;
    width: 100vw;
    overflow: hidden;

}
.images-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
width: 100%;
flex-direction: column;
background-image: url('../../Images/background.png');
background-repeat: no-repeat;
}
.logo{
    margin-top: 50px;
    margin-bottom: 20px;
    height: 260px;
    width:500px
}
.soon{
    height:181px;
    width:420px;
}
.glasses{
    height:43vh;
    width:2100px;
}
.top-section{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 57vh;
    flex-direction: column;

}
.soon-sec, .logo-sec{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:1500px){
.top-section{
    height: 60vh;
}
    .glasses{
        height:40vh;
        width:2000px;
    }
    .logo{
        
    height: 222px;
    width:430px
    }
    .soon{
        height:160px;
        width:370px;
    }
}
@media only screen and (max-width:1000px){
    .soon{
        height:107px;
        width: 246px;
    }
    .logo{margin: 0;
        height: 146px;
        width:286px
        }
    .top-section{
        height:65vh;


    }
    .glasses{
        height:35vh;
        width: 1500px;
    }

}
@media only screen and (max-width:800px){
    .glasses{
        width: 1200px;
    }
}
@media only screen and (max-width:500px){
    .soon{
        height:90px;
        width: 200px;

    }
    .logo{
        height: 114px;
        width: 220px;
    }
    .top-section{
        height:67vh;
margin-bottom: 20px;

    }
    .glasses{
        height:33vh;
        width: 700px;
    }


}
@media only screen and (min-width:2200px) {
    .glasses{
        width: 120vw;
    }
}