

.container{
    height:100vh;
    width: 100vw;
    overflow: hidden;

}
.images-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
width: 100%;
flex-direction: column;
background-image: url('../../Images/background.png');
background-repeat: no-repeat;
}
.logo{
    margin-top: 50px;
    margin-bottom: 20px;
    height: 260px;
    width:500px
}
.soon{
    height:181px;
    width:420px;
}
.glasses{
    height:43vh;
    width:2100px;
}
.top-section{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 57vh;
    flex-direction: column;

}
.soon-sec, .logo-sec{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width:1500px){
.top-section{
    height: 60vh;
}
    .glasses{
        height:40vh;
        width:2000px;
    }
    .logo{
    height: 222px;
    width:430px
    }
    .soon{
        height:160px;
        width:370px;
    }
}
@media only screen and (max-width:1000px){
    .soon{
        height:107px;
        width: 246px;
    }
    .logo{margin: 0;
        height: 146px;
        width:286px
        }
    .top-section{
        height:65vh;


    }
    .glasses{
        height:35vh;
        width: 1500px;
    }

}
@media only screen and (max-width:800px){
    .glasses{
        width: 1200px;
    }
}
@media only screen and (max-width:500px){
    .soon{
        height:90px;
        width: 200px;
        margin-top:20px;

    }
    .top-section{

    justify-content: center;
    align-items: center;

}
    .logo{
        height: 114px;
        width: 220px;
    }
    .top-section{
        height:67vh;
margin-bottom: 20px;

    }
    .glasses{
        height:33vh;
        width: 700px;
    }


}
@media only screen and (min-width:2200px) {
    .glasses{
        width: 120vw;
    }
}

@media only screen and (max-height:900px) and (min-width:1000px) and (max-width:1500px) {
    .top-section{
        
        height:67vh;
    }

    .logo{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 120px;
    width:230px;
    margin-bottom: 25px;
}
.soon{
    height:88px;
    width:200px;
}
.glasses{
    height:340px;
    width:1500px;
}
}
@media only screen and (max-height:900px) and (max-width:1000px) {
    .top-section{
        
        height:67vh;
    }

    .logo{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 120px;
    width:230px;
    margin-bottom: 25px;
}
.soon{
    height:88px;
    width:200px;
}
.glasses{
    height:300px;
    width:1000px;
}
}
@media only screen and (max-height:700px) and (max-width:1000px) {
    .top-section{
        
        height:67vh;
    }

    .logo{

    height: 110px;
    width:200px;
    margin-bottom: 25px;
}
.soon{
    height:65px;
    width:150px;
}
.glasses{
    height:200px;
    width:1000px;
}
}
@media only screen and (max-height:500px) and (max-width:900px) {
    .top-section{
        
        height:67vh;
    }

    .logo{

    height: 67px;
    width:150px;
    margin-bottom: 25px;
}
.soon{
    height:65px;
    width:150px;
}
.glasses{
    height:150px;
    width:900px;
}
}
@media only screen and (max-height:900px) and (min-width:1500px) and (max-width:2000px) {
    .top-section{
        
        height:67vh;
    }

    .logo{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 120px;
    width:230px;
    margin-bottom: 25px;
}
.soon{
    height:88px;
    width:200px;
}
.glasses{
    height:400px;
    width:2000px;
}
}
@media only screen and (max-height:900px) and (min-width:2000px) and (max-width:2500px) {
    .top-section{
        
        height:67vh;
    }

    .logo{
    margin-top: 10px;
    margin-bottom: 20px;
    height: 120px;
    width:230px;
    margin-bottom: 25px;
}
.soon{
    height:88px;
    width:200px;
}
.glasses{
    height:400px;
    width:2500px;
}
}
@media only screen and (max-height:900px) and (min-width:2500px) {
    .top-section{
        
        height:67vh;
    }

    .logo{

    margin-top: 10px;
    margin-bottom: 20px;
    height: 120px;
    width:230px;
    margin-bottom: 25px;
}
.soon{
    height:88px;
    width:200px;
}
.glasses{
    height:20vh;
    width:100vw;
}
}